@model IEnumerable<ExpensesIndexViewModel>;
<div>
    <h1>De lijst van al uw uitgaven:</h1>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Date of expense</th>
                <th>Amount expended</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
            <tr>
                <td>@expense.Date</td>
                <td>@expense.Amount</td>
                <td><a asp-controller="Expenses" asp-action="ExpenseDetails" asp-route-id="@expense.ID">Detail</a></td>
                <td><a asp-controller="Expenses" asp-action="EditExpense" asp-route-id="@expense.ID" asp-route-returnUrl="Index">Wijzig</a></td>
                <td><a asp-controller="Expenses" asp-action="DeleteExpense" asp-route-id="@expense.ID" asp-route-returnUrl="Index">Verwijder</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Expenses" asp-action="CreateNewExpense">Maak een nieuwe uitgave aan</a>
</div>